include ../ui-overlay/ui-overlay.pug
+overlay()(id="js-textbox-overlay" class="TextboxOverlay")
  div.Textbox__wrapper
    div.Textbox 
      div.Textbox__email
        div.Textbox__header
          div.Textbox__sender
            span.sender-avatar
            p.sender-name Marc Hoffman, Linear Ventures
          p.Textbox__subject Re: Bestfit investment
        p.Textbox__content
      p.Textbox__response Reply:
      div.Textbox__buttons
        include ../../universal/button/button
        +button('OK').TextboxButton.is-inactive
        +button('OK').TextboxButton.is-inactive
