include ../ui-overlay/ui-overlay.pug
include ../ui-desktop/ui-desktop.pug

+overlay()(id="js-textbox-overlay" class="TextboxOverlay")
  +desktop()(class="is-inactive")
  div.Textbox__wrapper
    div.Textbox 
      div.Textbox__email
        div.Textbox__header
          div.Textbox__sender
            span.sender-avatar
            p.sender-name Peter Hoffman, Orange Ventures
          p.Textbox__subject Re: investment in Bestfit
        p.Textbox__content
      p.Textbox__response Reply:
      div.Textbox__buttons
        include ../../universal/button/button
        +button('OK').TextboxButton.is-inactive
        +button('OK').TextboxButton.is-inactive
