script(src='js/bundle-game.js')


block content
	#conclusion
		.NewsFeed(style="height: 1.4rem;")#news-feed.js-news-feed.is-active
			div.NewsFeed__title NewsFeed
				div.NewsList
		.conversationBox
			
			#part1
				h3 TAKING A STEP BACK
				img(src='assets/img/manual-hiring-01.png', style="width: 60%; margin-left: 0%; margin-right: auto; clear: left; margin-top: 3%;")

				p As a recruiter, which of these attributes did you value the most?

				.button
					p Education
				.button(style="margin-left: 1%;")
					p Experience
				.button(style="margin-left: 1%;")
					p Ambition
				.button(style="margin-left: 1%; clear: right")
					p Skills

			#part2

				p Our data says you valued [ATTRIBUTE] the most - intentionally or unintentionally. Hiring is subjective, and can also often invoke biases and stereotypes; something many people are aware of. Maybe machines can fix that?

				.button(style="height: 1.2rem; width: 8rem; color: white; background-color: black;")
					p(style="font-size: 1.2rem" onclick='conc_next();') NEXT

			
			#part3
				
				h3 Training the Algorithm

				p As a recruiter, you had to make decisions on which applicants to accept and reject. Different people could prioritized ambition, education, hire randomly, or just try to get through the stage as quickly as possible. Though text text text text text te

				img(src='assets/img/processing.png', style="width: 60%; margin-left: 20%; margin-right: auto; margin-bottom: 2%")