.DatasetOverlay {
  background-color: color(bg-yellow);
  // height: 100vh;
  // overflow: auto;
  // padding-top: padding(md);
  // color: white;
  
  &__x-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
    right: padding(xs);
    top: padding(xs);
    background: url("../assets/img/x-icon.png") no-repeat center;
    background-size: contain;
  }
  
  &__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: margin(sm) 0 margin(md) 0;
    @include mq($until: mobile-landscape) {
      margin: margin(xs) 0 margin(xs) 0;
    }
  }

}

.ViewLayout {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px 1fr;
  grid-gap: 5px;
  padding-bottom: padding(md);
  
  &-item {
      grid-column: span 1;
  }
  
  &-scroller {
    position: absolute;
    bottom: margin(sm);
  }
}

#StatsInspector {
  grid-template-columns: auto auto;
  .ViewLayout-item {
    display: flex;
    justify-content: center;
  }
}

.DatasetGrid {
  display: grid;
  height: 80vh;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 100px;
  gap: 25px 10px;
  
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // TODO how about other browsers?
  &::-webkit-scrollbar { 
    width: 0 !important 
  }
  
  &-title {
    width: 100%;
    text-align: center;
    margin-bottom: margin(sm);
    
    &--resume {
      color: color(grey-main);
    }
  }
}

.CVPreview {
  margin-top: margin(sm);
  @include mq($until: mobile-landscape) {
    margin-top: margin(xs);
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.Email {
  @include textBox();
  @include boxColors($bg-color: #f56b6bf7, $shadow-color: 'darkred');

  position: absolute;
  top: 80%;
  right: 80%;
  padding: padding(sm) padding(sm);
  text-align: center;
  transition: all 0.5s ease-in-out;

  @include mq($until: mobile-landscape) {
    @include buttonBox();
    top: 79%;
    right: 62%;
    padding: padding(xxs) padding(xs);
  }

  &_Notificaiton {
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &_Sender {
    font-weight: 700;
    font-size: 1.5em;
    color: #333;
    padding-bottom: 0;
  }

  &_Subject {
    font-size: 1.2em;
    color: #555;
    padding-bottom: padding(xxs);
  }

  &_Content {
    color: #999;
  }

  &:active {
    transform: translateY(2px);
  }
}

.ReplyButton {
  @include mq($from: desktop) {
    &:hover {
      cursor: pointer;
    }
  }
}