// Footer
footer.footer
	.container
		.row
			.my-3
				ul.list-unstyled
					li
						a(href='mailto:survivalofthebestfit@gmail.com')
							i.fas.fa-envelope.fa-lg
						|                 survivalofthebestfit@gmail.com
					li
						a(href='https://github.com/survivalofthebestfit/survivalofthebestfit')
							i.fab.fa-github.fa-lg
						|                 /survivalofthebestfit
script(src='./vendor/jquery/jquery.min.js')
script(src='./vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='./vendor/jquery-easing/jquery.easing.min.js')
script(src='scripts-website.min.js')