doctype html
html
    include header
    body
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=557447817930570"></script>
        block content
        include footer
    //- Global site tag (gtag.js) - Google Analytics 
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-138331065-1")
    script.
      window.dataLayer = window.dataLayer || []
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date())
      gtag('config', 'UA-138331065-1')
      
    