doctype html
html
    include header
    body
        block content
        include footer
    //- Global site tag (gtag.js) - Google Analytics 
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-138331065-1")
    script.
      window.dataLayer = window.dataLayer || []
      function gtag(){dataLayer.push(arguments)}
      gtag('js', new Date())
      gtag('config', 'UA-138331065-1')
      
    