div.Titlepage__wrapper.js-titlepage.is-inactive
  div.Titlepage
    img.title-blue-person(src="./assets/img/money.gif")
    h1.Titlepage__header
    p.Titlepage__content
    include ../../universal/button/button
    +button('Start').TextboxButton.title-buttons.is-inactive
