.StatisticsCard {
    @include textBox();
    @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
    padding: padding(sm) padding(sm) padding(md) padding(sm);
    @include mq($until: desktop) {
      @include buttonBox();
      padding: padding(sm);
    }

    position: relative;
    min-width: 250px;
    min-height: 300px;
    max-height: 700px;
    max-width: 400px;

    &-title {
      @include mq($until: desktop) {
        text-align: center;
        font-size: 1.4rem;
        text-decoration: underline;
      }
    }
}
.stats-category {

    &__name {
      padding: padding(xs) 0;
      margin-top: margin(sm);
      font-size: 1.2rem;
      @include mq($until: mobile-landscape) {
        font-size: 1rem;
        padding: padding(xxs) 0;
        margin-top: 12px;
      }
    }
  
    &__skillbar {
      height: 7px;
      width: 100%;
  
      .AverageYellow & {
        background-color: color(stats-bg-grey);
      }
  
      .AverageBlue & {
        background-color: color(stats-bg-grey);
      }

      .RejectedMakeup &, .HiredMakeup & {
        background-color: color(stats-val-blue);
      }
    }
  
    &__progress {
      height: inherit;
  
      .animate-attributes & {
        transition: width 0.5s ease-in-out;
      }
  
      .AverageYellow & {
        background-color: color(stats-val-yellow);
      }

      .AverageBlue & {
        background-color: color(stats-val-blue);
      }

      .RejectedMakeup &, .HiredMakeup & {
        background-color: color(stats-val-yellow);
      }
    }
  }
