mixin stats(title)
    div.StatisticsCard&attributes(attributes)
        h1.StatsTitle= title
        div.HiredMakeup
            h3.cv-category__name Accepted Yellow/Blue Makeup
            div.cv-category__skillbar
                div.cv-category__progress
        div.RejectedMakeup
            h3.cv-category__name Rejected Yellow/Blue Makeup
            div.cv-category__skillbar
                div.cv-category__progress
        div.AverageYellow
            h3.cv-category__name Average Yellow Person Performance
            div.cv-category__skillbar
                div.cv-category__progress
        div.AverageBlue
            h3.cv-category__name Average Blue Person Performance
            div.cv-category__skillbar
                div.cv-category__progress