.StatisticsCard {
    @include textBox();
    @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
    padding: padding(sm) padding(sm) padding(md) padding(sm);

    min-width: 250px;
    min-height: 300px;
    max-height: 700px;
    max-width: 400px;
}
.cv-category {

    &__name {
      padding: padding(xs) 0;
      margin-top: margin(sm);
      @include mq($until: mobile-landscape) {
        padding: padding(xxs) 0;
      }
    }
  
    &__skillbar {
      height: 7px;
      width: 100%;
  
      .AverageYellow & {
        background-color: color(skill-bg-yellow);
      }
  
      .AverageBlue & {
        background-color: color(skill-bg-blue);
        &:before {
          background-color: color(skill-val-blue);
        }
      }

      .RejectedMakeup &, .HiredMakeup & {
        background-color: color(skill-val-blue);
        &:before {
          background-color: color(skill-val-blue);
        }
      }
    }
  
    &__progress {
      height: inherit;
  
      .animate-attributes & {
        transition: width 0.5s ease-in-out;
      }
  
      .AverageYellow & {
        background-color: color(skill-val-yellow);
      }

      .AverageBlue & {
        background-color: color(skill-val-blue);
      }

      .RejectedMakeup &, .HiredMakeup & {
        background-color: color(skill-val-yellow);
      }
    }
  }
