mixin stats(title)
    div.StatisticsCard&attributes(attributes)
        h1.StatisticsCard-title= title
        div.HiredMakeup
            p.stats-category__name Accepted Orange/Blue Makeup
            div.stats-category__skillbar
                div.stats-category__progress
        div.RejectedMakeup
            p.stats-category__name Rejected Orange/Blue Makeup
            div.stats-category__skillbar
                div.stats-category__progress
        div.AverageOrange
            p.stats-category__name Average Orange Person Performance
            div.stats-category__skillbar
                div.stats-category__progress
        div.AverageBlue
            p.stats-category__name Average Blue Person Performance
            div.stats-category__skillbar
                div.stats-category__progress