.EndgameOverlay {
  @include textBox();
  @include buttonBox();

  display: flex;
  z-index: 10;
  background-color: color(shadow-rose-light);
  justify-content: center;
  align-items: center;

  .button {
    width: 5rem; 
    height: 1rem; 
    float: left;
    margin-bottom: 3%;

    p {
    font-size: 1.0rem;
    }
  }



  &__buttonContainer {
    display: flex;
  }

  &__button {
    display: flex;
    margin: auto;
    //font-size: 2em;
    text-transform: uppercase;   

    width: 5rem; 
    height: 1rem; 
    float: left;
    margin-bottom: 5%;

    p {
    font-size: 1.0rem;
    spacing: 0;
    }
  }

  &__text {
    text-align: center;

  p {
    font-size: 1.6em;
    }
  }
}

h3 {
   font-size: 1.4rem;
}

#part2 {
  clear: left;
}


#part3, #part4{
  display: none;
  clear: left;

}

 