.EndgameOverlay {
  @include textBox();
  @include buttonBox();

  display: flex;
  z-index: 10;
  background-color: color(shadow-rose-light);
  justify-content: center;
  align-items: center;

  .button {
    width: 5rem; 
    height: 1rem; 
    float: left;
    margin-bottom: 3%;

    p, a {
    font-size: 1.0rem;
    }
  }


  p {
    font-size: 1.1em;
    margin-bottom: 1%;
    margin-top: 1%;
    }


h3 {
   font-size: 1.4rem;
}

.conversation-container {
  height: 100%;
  overflow: auto;
}

#part2, #part3, #part4{
  display: none;
  clear: left;

}

img {
  width: 60%; 
  margin-left: 0%; 
  margin-right: auto; 
  clear: right; 
  margin-top: 3%;
}

}