.EndgameOverlay {
  @include textBox();
  @include buttonBox();

  display: flex;
  z-index: 10;
  background-color: color(shadow-rose-light);
  justify-content: center;
  align-items: center;

  .button {
    min-width: 5rem;
    padding: padding(xs) padding(xs) padding(xs) + 3px padding(xs); 
    height: 1rem; 
    float: left;
    margin-bottom: 3%;


    &__choice {
      margin-left: margin(sm);
      &:nth-child(1)  {
        margin-left: 0;
      }
    }

    &__proceed {
      @include boxColors($bg-color: #f56b6bf7, $shadow-color: 'darkred');
      color: white;

      a{
        color: white;
      }
    }

    p, a {
      font-size: 1.0rem;
      text-decoration: none;
    }
  }


  p {
    font-size: 1.1em;
    margin-bottom: 2%;
    margin-top: 2%;
    }


h3 {
   font-size: 1.4rem;
}

.conversation-container {
  height: 100%;
  overflow: auto;
}

#part2, #part3, #part4{
  display: none;
  clear: left;

}

img {
  width: 60%; 
  margin-left: 0%; 
  margin-right: auto; 
  clear: right; 
  margin-top: 3%;
}

}