include ../../ui-overlay/ui-overlay.pug
include ../../../universal/button/button
script(src='../scripts-website.min.js')
+overlay()(id="js-endgame-overlay" class="EndgameOverlay")
	
	.conversationBox
		.conversation-container
			#part1
				h3 Taking A Step Back
				img(src='assets/img/sotbf-manual.gif')

				p As a recruiter, which of these attributes did you value the most?

				#buttons
					div(class="button button__choice" onclick="select(this)")
						p Education

					div(class="button button__choice" onclick="select(this)")
						p Experience

					div(class="button button__choice" onclick="select(this)")
						p Ambition

					div(class="button button__choice" onclick="select(this)")
						p Skills


			//+button('Edblaon').EndgameOverlay__button
			//+button('Experience').EndgameOverlay__button
			//+button('Ambition').EndgameOverlay__button
			//+button('Skills').EndgameOverlay__button

			#part2

				p(style="float: left") When the engineering team contacted you, they asked you for <i> your </i> decisions, in <b> cv_all.zip </b>, because software requires human input. <br>

				p That means if you had biases, the software would replicate them, and if you were careless, the outputs would be messy! But what if you were as objective as you can? <br>

				div(class="button button__proceed" onClick="next1()")
					p(style="font-size: 1.2rem") NEXT

			
			#part3
				
				h3 Training the Algorithm

				p Your data alone wasn't enough to build a machine learning (ML) algorithm, because ML only works on large amounts of data, so you were asked to choose a larger dataset. The probem is, these historical datasets can have all sorts of inequalities built in. <br>

				img(src='assets/img/sotbf-training.gif')

				p In this case, it largely consisted of applicants from Yellow Valley, where more people were historically allowed to worked in tech. In the real world, this could mean your data reflects a history of injustice, like favoring a certain race, gender, or socio-economic background. <br> 

				p What if you ask your algorithm to disregard looking at these differentiators? <br>

				div(class="button button__proceed" onClick="next2()")
					p(style="font-size: 1.2rem; color: white") NEXT

			
			#part4

				h3 Behind the Code

				p There is no on-off switch to ask automated decision-making programs to do the right thing. In hiring, for example, it's not just that data is categorized by race or gender, but that it also represents the colleges, societies, and organizations certain demographics were allowed to be a part of. <br>

				img(src='assets/img/sotbf-automated.gif', style="width: 60%; margin-left: 0%; margin-right: auto; clear: right; margin-top: 3%;")

				p When a program learns from years of data, we need to question the data it is learning from. Just because a decision is presented as 'automated' doesn't mean it is right or objective. <br>

				p Your startup Bestfit might've failed today, but there's no reason our societies should! Head to our website to learn more. We hope it'll make you discuss and ask questions. <br>

				div(class="button button__proceed")
					a(href='../resources.html' onClick="goToResourcesLog()") BECOME AN EXPERT
