.about-section {
  
  p {

    margin-bottom: 3rem;
    text-align: left;
    line-height: 1.5;
    
    a {
      text-decoration-line: underline;
      color: #BE5E5E;
      font-weight: 700;
      &:hover {
        background-color: #BE5E5E;
        color: white;      
      }
    }

  }

  h1 {
    font-size: 2.8rem;
  }
  
  .img-caption {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    color: grey;
  }

  @media (min-width: 768px) {
    padding-top: 1rem;

    p {
      // text-align: justify;
    }
    h1 {
      font-size: 3.5rem;
    }
  }

}

.about-header {
  text-transform: uppercase;
  margin-top: 5rem;
}

.play-button {
  
  &:hover {
    background-color: $shadow-red-dark;
  }

  text-transform: uppercase;
  margin: 1.5em;
  padding: 0.5rem 3rem;
  font-family: VT323,monospace;
  background: #de4545;
  border-radius: 15px;
  font-size: 2rem;
}

.group-picture {
  padding: 1rem 1rem 0rem 1rem;
  display: block;
  margin: auto;

  @media (min-width: 768px) {
    padding: 1rem 3rem 0rem 3rem;
  }
}