footer {
    padding: 0rem 1.5rem;
    font-family: 'Nunito';
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 0.8rem;    

    p {
        display: inline-block;
        margin-left: 0.5rem;
    }

    @media(min-width: 768px) {
        padding: 0rem 2rem;
        margin-left: 2rem;
        font-size: 1rem;   
    }
}