footer {
    padding: 1.5rem;
    li {
        font-size: 0.8rem;    
        margin-bottom: 0.5rem;    
    }

    @media(min-width: 768px) {
        padding: 2rem;
        margin-left: 2rem;
        li {
            font-size: 1rem; 
            margin-bottom: 1rem;    
   
        }
      }
}