@import 'variables.scss';
@import 'mixins.scss';
@import 'buttons.scss';

.resources-section {
    margin-bottom: 5rem;
    
    ul {
        text-align: left;
        font-family: "Nunito";
        list-style-type: none; 
    }

    li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    p {

        margin-bottom: 3rem;
        text-align: left;
        line-height: 1.5;

        a {
            text-decoration-line: underline;
            color: #BE5E5E;
            font-weight: 700;

            &:hover {
                background-color: #BE5E5E;
                color: white;
            }
        }
    }
    .clickMe {
        font-family: 'VT323', monospace;
        text-align: center;
        font-size: 1.2rem;
        color: #666;
        margin-top: 1rem;
    }

    iframe {
        max-width: 100%;
        margin: auto;
        position: relative;
        display: flex;
        padding-bottom: 2rem;
    }
    .upper-list {
        font-weight: 700;
    }

    .lower-list {
        font-weight: 400 !important;
    }

    .page-nav-button {
        @include buttonBox();
        @include boxColors($shadow-color: 'darkred');
        display: inline-block;
        position: relative;
        font-family: 'Nunito';
        margin-top: -3rem !important;
        padding: 1rem 1.5rem;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .page-nav-button:hover {
        cursor: pointer;
    }

    #prevPage {
        text-align: left;
        float: left;
    }

    #nextPage {
        text-align: right;
        float: right;
    }

    .is-inactive {
        opacity: 0;
        display: none !important;
    }
}

.table-of-contents {
    padding: 1rem;
    h3 {
        font-weight: bold;
    }
}