.NewsFeed {
  @include textBox();
  @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'grey');
  &.breaking-news {
    @include boxColors($bg-color: color(bg-washed-white), $shadow-color: 'red');
  }
  // box-shadow: inset 0 0 0 2px color(txt-light-grey);
  
  padding: 2px padding(sm) 2px padding(sm);
  
  z-index: 2;
  position: absolute;
  top: padding(xs);
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.5rem;
  @include mq($until: mobile-landscape) {
    padding: 0 padding(sm);
    top: 0;
};
  
  &__title {
    position: absolute;
    text-transform: uppercase;
    left: 0;
    top: 0;
    height: 100%;
    background: color(txt-light-grey);
    padding: 0 padding(sm);
    z-index: 2;
    @include mq($until: mobile-landscape) {
        font-size: 1.4rem;
        padding: 0 padding(xs);
    };
    .breaking-news & {
      background: color(red-bg);
      color: white;
    }
  }
  
  &__title, .NewsList, .NewsList-item{
    display: inline-block;
  }
  
  .NewsList {
    text-transform: uppercase;
    transform: translateX(100px);
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    
    &-item {
      font-size: 1.6rem;
      padding-right: padding(xxl);
      padding-left: padding(sm);
      @include mq($until: mobile-landscape) {
          font-size: 1.2rem;
          padding-right: padding(md);
      };
      border-left: solid color(txt-light-grey) 2px;
    }
  }
}