extends ./layout/layout-default.pug

block content
    section.about-section.text-center
        .container
            .row
                .col-lg-9.mx-auto
                    h1 About us
                    img.img-fluid.img-asset(src='./img-website/cv-asset.png')

                    .cute-box
                        h2 Advocacy in Tech
                        img.img-fluid.group-picture(src='./img-website/thebestteam.jpeg')
                        p.img-caption (Gabor, Alia, Jihyun and Miha during their April 2019 meetup in Abu Dhabi)
                        p
                            | We are software engineers, designers and technologists, advocating for better software that allows members of the public to question its impact on society.
                        p
                            | Coming from 4 different countries (Hungary, Egypt, Korea and Solvenia) and living in 4 other (UK, UAE, Singapore and Sweden),
                            | we are alumni/student of 
                            a(href="https://nyuad.nyu.edu/en/") NYU Abu Dhabi
                            |, where we met in a class called 
                            a(href="https://github.com/periode/politics-of-code") Politics of Code
                            |  that completely changed the way we view and question technology.
                        p
                            | With SOTBF, we want to reach an audience that may not be the makers of the very technology that impact them everyday. We want to help them better understand how AI works and how it may affect them, so that they can better demand transparency and accountability in systems that make more and more decisions for us.
                    img.img-fluid.img-asset(src='./img-website/people-asset.png')
                    .cute-box
                        h2 Thank you
                        p
                            | This project, and our advocacy at large, could not have happened without the trust and help of many.
                        p
                            | We would like to thank 
                            a(href="https://foundation.mozilla.org/en/") Mozilla Foundation
                            |, Brett and Jenn for having faith in us to deliver a message. NYU Abu Dhabi and the Interactive Media department for giving us the formative education that made us who we are today. Craig and Pierre for opening this door for us in the first place.
                        p
                            | And everyone else who spent their weekends giving us feedback, designing assets, sponsoring coffee and making the 
                            a(href="https://goo.gl/maps/Lq7AMPtLwN9rLuiG8") best knafeh
                            |  that fueled our late nights - thank you for supporting us in taking this step towards building better technology for all.