extends ./layout/layout-default.pug

block content
	// Header
	header.masthead
		.container.d-flex.h-100.align-items-center
			.row
				h1 Survival of the Best Fit
	// About Section
	section.about-section.text-center
		.container
			.row
				.col-lg-8.mx-auto
					a.btn.btn-info.mx-auto.play-button(href='./game', role='button') Start Game
					h4.clickMe (The game takes ~6 minutes)
				.col-lg-8.mx-auto
					h1 Machine Bias Exists Everywhere
					.cute-box
						h2 Is software neutral?
						p
							b Survival of the Best Fit
							|  is an educational game about hiring bias in AI. We aim to explain how the misuse of AI can make machines inherit human biases and further inequality. Much of the public debate on AI has presented it as a threat imposed on us, rather than one that we have agency over. We want to change that by helping people understand the technology, and demand more accountability from those building increasingly pervasive software systems.
						p
							| Built by
							a(href='http://gaborcsapo.com/') Gabor Csapo
							| ,
							a(href='https://www.linkedin.com/in/kimjihyun/') Jihyun Kim
							| ,
							a(href='https://www.mklasinc.com/') Miha Klasinc
							| , and
							a(href='https://aliaelkattan.com') Alia ElKattan
							| .

						p
							| Supported by the
							a(href='https://blog.mozilla.org/blog/2018/10/24/keeping-ai-accountable-with-science-fiction-documentaries-and-doodles-plus-225000/') Creative Media Award
							|  from
							a(href='https://foundation.mozilla.org/en/') Mozilla Foundation
							| .

						p
							| Featured on
							a(href="https://fortune.com/2019/07/16/confronting-bias-in-a-i-raceahead/") Fortune
							| ,
							a(href="https://medium.com/read-write-participate/would-an-algorithm-hire-you-or-ignore-your-resume-db315a873c91") Mozilla
							| , and
							a(href="https://bdtechtalks.com/2019/07/08/ai-bias-survival-of-the-best-fit/") Tech Talks.
	// Signup Section
	section#signup.signup-section.about-section
		.container
			.row
				.col-md-12.col-lg-8.mx-auto.text-center.padding-top
					h1 Take Part

					.cute-box
						h2
							| Share this project

						h3.mb-3

							.share-button
								<div class="fb-share-button" data-href="https://survivalofthebestfit.com" data-layout="button" data-size="large">
								<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsurvivalofthebestfit.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

							.share-button
								<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Can you hire without bias? Play this ~6 min game to find out" data-url="https://survivalofthebestfit.com" data-via="sotbf_" data-related="sotbf_" data-show-count="false">Tweet</a>
								<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

							.share-button
								<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
								<script type="IN/Share" data-url="https://survivalofthebestfit.com"></script>

						p
							| Help us share this project so more people can learn about algorithmic bias.


					.cute-box
						h2
							| Found a bug?
							i.fas.fa-bug.mb-2
						p
							| This is an open source project and we love community feedback and contribution.

						p
							| Help us improve by creating a Github
							a(href="https://github.com/survivalofthebestfit/survivalofthebestfit/issues/new") issue
							|  or a pull request with any bugs. You can also
							a(href="https://twitter.com/sotbf_") tweet
							|  us your ideas and suggestions!

					//- .cute-box
					//- 	h2
					//- 		i.far.fa-paper-plane.mb-2
					//- 		|  Mailing  List
					//- 	h3 Sign up to stay in touch with us
					//- 	// Begin Mailchimp Signup Form
					//- 	// <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
					//- 	form#mc-embedded-subscribe-form.form-inline.d-flex(action='https://survivalofthebestfit.us20.list-manage.com/subscribe/post?u=d47d856a71ec3eacf35291a17&id=c5012f3579', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
					//- 		// <div id="mc_embed_signup_scroll">
					//- 		input#mce-EMAIL.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email', value='', name='EMAIL', placeholder='Email Address', required='')
					//- 		// real people should not fill this in and expect good things - do not remove this or risk form bot signups
					//- 		div(style='position: absolute; left: -5000px;', aria-hidden='true')
					//- 			input(type='text', name='b_d47d856a71ec3eacf35291a17_c5012f3579', tabindex='-1', value='')
					//- 		button.btn.btn-primary.mx-auto(type='submit') Subscribe
